<!DOCTYPE html>
<html lang="es"> 


<head>
<title>GeoLive</title> 
<meta charset="utf-8">
	    <link rel="stylesheet" 	  href="{{ url_for('static', filename='css/estilos.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Imagenes/mundo.png') }}">
</head>


<body>
	<header id="main-header">		
		<a id="logo-header" href="#">
                    <a href="{{ url_for('inicio') }}"> <img src="{{url_for('static', filename='Imagenes/1398449560-big-data-logo.png') }} " width="195"  height="50" alt=""></a>
		</a>

		<nav>
			<ul>
				<li><a href="{{ url_for('inicio') }}" >Inicio </a></li>
				<li><a href="{{ url_for('buscar') }}">Buscar</a></li>
				<li><a href="{{ url_for('mostrar') }}">RealTime</a></li>
                <li><a href="{{ url_for('mostrarTorque') }}">TimeLine </a></li>
				<li><a href="{{ url_for('mostrarCalor') }}">Calor</a></li>
				<li><a href="{{ url_for('mostrarCluster') }}">Agrupado</a></li>
			</ul>
		</nav>   
	</header>

<div class="container">

	{% block content %}{% endblock %}

	{% if error %}
	<p class="error"><strong>Error:</strong> {{ error }}</p>
	{% endif %}

	{% for message in get_flashed_messages() %}
	{{ message }}
	{% endfor %}
</div>

	<footer id="main-footer">
        <img src="{{url_for('static', filename='Imagenes/ponti.png') }} "  style="margin-right: 100px" alt="" height="50" width="200" >
        <iframe src="http://ghbtns.com/github-btn.html?user=dudasbigdata&repo=GeoLive&type=watch&size=large" height="30" width="100" frameborder="0" scrolling="0"  allowTransparency="true"></iframe>
    </footer>

</body>

</html>
