{% extends "base.html" %}
{% block content %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>

        $(document).ready(function()
        {
            $("#b1").click(function()
            {
                var to_add = $("#t1").val();
                $("#palabras").append("<option value=" + to_add +">"+to_add+"</option>");
                $("#t1").val('');
            });
        });

        </script>
        <script>

        $(document).ready(function()
        {
            $("#b2").click(function()
            {
                var to_remove = $("#palabras").val();
                $("#palabras option[value= '"+ to_remove + "' ]").remove();
            });
        });

        function formulario(f)
        {
            var lst = [];

            $("#palabras option").each(function()
            {
                // Add $(this).val() to your list
                console.log($(this).text());
                console.log($(this).val());
                lst.push($(this).val());
            });

            f.terms.value = lst;

            console.log(f.palabras);
            console.log(lst);
            console.log(f.terms.value);
            return true;

            if (f.palabra.value   == '')
            {
              alert ('La palabra a buscar no puede quedar vacía');
              f.palabra.focus(); return false;
            }
            console.log(f.palabra.value);
            return true;
        }

        </script>
	<section id="main-content">	
		<article>
			<header>
				<h1>Buscar</h1>
			</header>
			<div class="content">
                            <form method="post" action="{{ url_for('mostrar') }}" onsubmit="return formulario(this)">
                                <fieldset class="fieldsetPadre">
                                <p><legend>Añada o borre las palabras a escuhar:</legend></p>

								<fieldset class="filtrosFieldset">

                                <input type=text   name="t1" id="t1">
                                <input type=button name=b1 id=b1 value="Añadir">
                                </br>
                                <input type=button name=b2 id=b2 value=Borrar>
                                <br><br>

                                <select id="palabras" name="palabras" type="text" size="8">
                                </select> <br><br>
                                <input id="terms" name="terms"type="hidden">
                                    <!--{% print terms %}-->
                                    <!--{% print request.form['terms'] %}-->
                                    <!--{% for i in name: %}-->
                                    <!--print i-->
                                    <!--{% endfor %}-->
                                <input type="submit"/>
                            </form>


									<br>&nbsp</br>
								</fieldset>
								</fieldset>
                            </form>
			</div>
		</article>
	</section> 	

{% endblock %}
