{% extends "base.html" %}
{% block content %}
        <link rel="stylesheet" type="text/css" href="jcarousel-0.3.2/examples/_shared//css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jcarousel-0.3.2/examples/basic/jcarousel.basic.css') }}">

        <script type="text/javascript" src="{{url_for('static', filename='jcarousel-0.3.2/libs/jquery/jquery.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jcarousel-0.3.2/dist/jquery.jcarousel.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jcarousel-0.3.2/examples/basic/jcarousel.basic.js') }}"></script>


	<section id="main-content">	
		<article>
			<header>
				<h1>GeoLive</h1>
			</header>
			<div class="content">
               <div class="contenidoInfo">
                            <p>
                                Big Data se define como el conjunto de herramientas informáticas destinadas a la manipulación, gestión y análisis 
								de grandes volúmenes de datos de todo tipo los cuales no pueden ser gestionados por las herramientas informáticas 
								tradicionales. Big data es un término de origen inglés cuya traducción equivale a "Datos masivos", la tecnología 
								big data tiene por objetivo analizar datos e información de manera inteligente que ayuden a una correcta toma de decisión.
								
								
                            </p>

                            <div class="galeria">
                                <div class="wrapper">
                                    <div class="jcarousel-wrapper">
                                        <div class="jcarousel">
                                            <ul>
                                                <li><img src="{{url_for('static', filename='jcarousel-0.3.2/examples/_shared/img/Big-Data2.jpg') }}" width="480" height="300" alt=""></li>
                                                <li><img src="{{url_for('static', filename='jcarousel-0.3.2/examples/_shared/img/Big-Data1.jpg') }}" width="480" height="300" alt=""></li>
                                                <li><img src="{{url_for('static', filename='jcarousel-0.3.2/examples/_shared/img/Big-Data3.jpg') }}" width="480" height="300" alt=""></li>
                                                <li><img src="{{url_for('static', filename='jcarousel-0.3.2/examples/_shared/img/Big-Data4.jpg') }}" width="480" height="300" alt=""></li>
                                                <li><img src="{{url_for('static', filename='jcarousel-0.3.2/examples/_shared/img/Big-Data5.jpg') }}" width="480" height="300" alt=""></li>
                                                <li><img src="{{url_for('static', filename='jcarousel-0.3.2/examples/_shared/img/Big-Data6.jpg') }}" width="480" height="300" alt=""></li>
                                            </ul>
                                        </div>

                                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                                        <p class="jcarousel-pagination"></p>
                                    </div>
                                </div>
                            </div>
                            
                            <p>
                                El objetivo fundamental del big data es dotar de una infraestructura tecnológica a las empresas y organizaciones 
								con la finalidad de poder almacenar, tratar y analizar de manera económica, rápida y flexible la gran cantidad de 
								datos que se generan diariamente.
                            </p>
                            
                            <p>
                                Es una realidad que la cantidad de información digital que se genera diariamente en nuestro planeta crece exponencialmente, 
								gigantes y potentes bases de datos en donde se almacenan por ejemplo todos los movimientos de dinero que se producen en una 
								entidad bancaria, la información que registran los puntos de ventas de los grandes centros comerciales o toda la información 
								que se genera en las redes sociales, blogs y páginas webs que se actualizan diariamente, son ejemplos entre otros de fuentes 
								generadoras de información y datos. A raíz de este incesante crecimiento nace <strong>GeoLive</strong> Herramienta que será capaz
								de recoger información de tweets de la red social Twitter referidos a palabras previamente dadas por el usuario, y poder generar
								visualizaciones en mapas de distintos tipos, los cuales aportarán al usuario diversas informaciones como por ejemplo una visión 
								a tiempo real de las zonas de mayor y menor afluencia de tweets, una agrupación por sectores circulares de las zonas donde mas
								tweets son lanzados, o una visualizacion en el tiempo de la actividad referida a unos terminos.
                            </p>
                   </div>
			</div>
		</article>
	</section> 	

{% endblock %}
