{% extends "base.html" %}
{% block content %}

	<meta charset="utf-8">
    <title>Cluster</title>
    <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
      <link rel="stylesheet" href="estilos.css">
    <style>
      html, body, #map {
        height:630px;        padding: 0;        margin: 0;
      }
    </style>

    <link rel="stylesheet" href="http://libs.cartodb.com/cartodb.js/v3/3.14/themes/css/cartodb.css" />


  <body>
  <section id="main-content">
		<article>

			<header>
				<h1>Mapa</h1>
			</header>
			<div class="content">
    <div id="map"></div>

    <script type="infowindow/html" id="infowindow_template">
      <span> custom </span>
      <div class="cartodb-popup">
        <a href="#close" class="cartodb-popup-close-button close">x</a>
             <img style="width: 100%" src="http://rambo.webcindario.com/images/18447755.jpg">
         <div class="cartodb-popup-tip-container"></div>
      </div>
    </script>

    <script src="http://libs.cartodb.com/cartodb.js/v3/3.14/cartodb.js"></script>

    <script>
      function main() {
        var map = L.map('map', { 
          zoomControl: false,
          center: [0, 0],
          zoom: 3
        });
        // add a nice baselayer from Stamen 
        L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
          attribution: 'Stamen'
        }).addTo(map);
        cartodb.createLayer(map, 'https://bigdatatfg.cartodb.com/api/v2/viz/7324a4c8-0055-11e5-82ae-0e4fddd5de28/viz.json')
         .addTo(map)
         .on('done', function(layer) {
           // get sublayer 0 and set the infowindow template
           var sublayer = layer.getSubLayer(0);
           sublayer.infowindow.set('template', $('#infowindow_template').html());
          }).on('error', function() {
            console.log("some error occurred");
          });
      }
      window.onload = main;
    </script>
                </div>
		</article>
	</section>
  </body>



{% endblock %}